anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
debugpy
decorator
defusedxml
distlib
dnspython
elementpath
entrypoints
executing
fastjsonschema
filelock
fqdn
ghp-import
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
Markdown
MarkupSafe
matplotlib-inline
mergedeep
mistune
mkdocs
mkdocs-autodoc
mkdocs-material
mkdocs-material-extensions
mkdocs-print-site-plugin
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
packaging
pandocfilters
parso
pexpect
pickleshare
platformdirs
pluggy
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pycparser
Pygments
pymdown-extensions
pyparsing
pyrsistent
pytest
pytest-html
pytest-metadata
python-dateutil
python-json-logger
pytz
PyYAML
pyyaml_env_tag
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
traitlets
typing_extensions
uri-template
urllib3
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xmlschema
xmltodict
