.md-content a {
	/* text-decoration: underline   */
  }
  .md-copyright-display {
	  color: snow;
	  font-size: 120%;
  }
  .md-footer-copyright {
	margin-left:20%;
	font-size: 120%;
  }
  .md-footer-disclaimer-text {
	font-size: 120%;
    padding:.7rem;
 	border: 3px solid lightgray;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: auto;
	width: 80%;
	background-color: snow;
	color: slategrey;
	border-radius: 10px;
  }
  .md-footer-disclaimer-statement {
	font-size: 1.2em;
	font-weight: bold;
	color: slategrey;
    padding: 0px;
    margin: 0px;
  }

  div.autodoc-docstring {
	padding-left: 20px;
	margin-bottom: 30px;
	border-left: 5px solid rgba(230, 230, 230);
  }
  
  div.autodoc-members {
	padding-left: 20px;
	margin-bottom: 15px;
  }