alabaster
argcomplete
argh 
astroid 
attrs 
Babel 
brotlipy 
certifi
cffi 
charset-normalizer 
click 
colorama 
conda
conda-package-handling 
cryptography 
dnspython 
docutils 
elementpath 
Faker 
flake8 
future 
ghp-import 
idna 
imagesize 
importlib-metadata 
iniconfig 
isort 
Jinja2 
joblib 
lazy-object-proxy 
livereload 
lunr 
Markdown 
MarkupSafe 
mccabe
mergedeep 
mkautodoc
mkdocs 
mkdocs-autorefs 
mkdocs-bootstrap
mkdocs-material 
mkdocs-material-extensions 
mkdocs-print-site-plugin
mkdocstrings 
mypy 
mypy-extensions 
nltk 
packaging 
pipx 
platformdirs 
pluggy 
psutil 
py 
pycodestyle 
pycosat
pycparser 
pydocstyle 
pyflakes 
Pygments 
pylint 
pymdown-extensions 
pyOpenSSL 
pyparsing 
PySocks 
pytest
python-dateutil 
python-dotenv 
pytkdocs 
pytz 
PyYAML 
pyyaml_env_tag 
regex 
requests 
ruamel-yaml-conda 
six 
snowballstemmer 
text-unidecode
toml 
tomli 
tornado 
tqdm 
types-requests
types-urllib3
typing_extensions 
urllib3 
userpath 
watchdog 
wrapt 
xmlschema 
zipp 
