alabaster==0.7.12
argcomplete==1.11.1
argh 
astroid 
attrs 
Babel 
brotlipy 
certifi==2021.5.30
cffi 
charset-normalizer 
click 
colorama 
conda==4.10.3
conda-package-handling 
cryptography 
dnspython 
docutils 
elementpath 
Faker 
flake8 
future 
ghp-import 
idna 
imagesize 
importlib-metadata 
iniconfig 
isort 
Jinja2 
joblib 
lazy-object-proxy 
livereload 
lunr 
Markdown 
MarkupSafe 
mccabe==0.6.1
mergedeep 
mkautodoc==0.1.0
mkdocs 
mkdocs-autorefs 
mkdocs-bootstrap==1.1
mkdocs-material 
mkdocs-material-extensions 
mkdocs-print-site-plugin==2.3
mkdocstrings 
mypy 
mypy-extensions 
nltk 
packaging 
pipx 
platformdirs 
pluggy 
psutil 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pydocstyle 
pyflakes 
Pygments 
pylint 
pymdown-extensions 
pyOpenSSL 
pyparsing 
PySocks 
pytest==6.2.5
python-dateutil 
python-dotenv 
pytkdocs 
pytz 
PyYAML 
pyyaml_env_tag 
regex 
requests 
ruamel-yaml-conda 
six 
snowballstemmer 
text-unidecode==1.3
toml 
tomli 
tornado 
tqdm 
types-requests==2.27.8
types-urllib3==1.26.9
typing_extensions 
urllib3 
userpath 
watchdog 
wrapt 
xmlschema 
zipp 
